#
# FlexCAN device configuration
#
config FLEXCAN
	bool "Coldfire FlexCAN module support"
	depends on COLDFIRE
	help
	  Kernel-level support for the FlexCAN module that is a communication
	  controller implementing the controller area network (CAN) protocol,
	  an asynchronous communications protocol used in automotive and 
	  industrial control systems. It is a high speed (1 Mbit/sec), short
	  distance, priority based protocol which can communicate using a 
	  variety of mediums (for example, fiber optic cable or an unshielded
	  twisted pair of wires). The FlexCAN supports both the standard and
	  extended identifier (ID) message formats specified in the CAN protocol
	  specification, revision 2.0, part B. 

config FLEXCAN_CAN0
	tristate "CAN0"
	depends on ( FLEXCAN ) 
	help
	  Choose this option if you want to work with CAN0 port.
	  You can use one of port only (either CAN0 or CAN1).

config FLEXCAN_CAN1
	tristate "CAN1"
	depends on ( FLEXCAN )
	help
	  Choose this option if you want to work with CAN1 port.
	  You can use one of port only (either CAN0 or CAN1).
