#
# P2001 device configuration
#

config NET_VENDOR_P2001
        bool "P2001 ethernet devices"
        depends on (ARM && ARCH_P2001)
        ---help---
          If you have a network (Ethernet) card belonging to this class, say Y
          and read the Ethernet-HOWTO, available from
          <http://www.tldp.org/docs.html#howto>.

          Note that the answer to this question doesn't directly affect the
          kernel: saying N will just cause the configurator to skip all
          the questions about P2001 devices. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_P2001

config P2001_ETH
	tristate "P2001 ethernet driver"
	depends on ARM && ARCH_P2001
	select NET_CORE
	select MII
	help
	  P2001 ethernet driver

endif
