#
# Samsung device configuration
#

config NET_VENDOR_SAMSUNG
        bool "Samsung ethernet devices"
        depends on (ARM && ARCH_ESPD_4510B)
        ---help---
          If you have a network (Ethernet) card belonging to this class, say Y
          and read the Ethernet-HOWTO, available from
          <http://www.tldp.org/docs.html#howto>.

          Note that the answer to this question doesn't directly affect the
          kernel: saying N will just cause the configurator to skip all
          the questions about Samsung devices. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_SAMSUNG

config ARM_S3C4510B_ETH
	tristate "Samsung 4510B ethernet driver"
	depends on ARM && ARCH_ESPD_4510B
	select NET_CORE
	help
	  Samsung 4510B ethernet driver.

endif
